@page
@model Web.Pages.AdminPageModel
@{
    ViewData["Title"] = "Register";
}

<h2>Регистрация</h2>

<form method="post">
    <div>
        <label for="login">Логин:</label>
        <input type="text" id="login" name="Login" required />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="Password" required />
    </div>
    <button type="submit">Зарегистрироваться </button>
</form>

@if (Model.ErrorMessage != null)
{
    <p style="color: red;">@Model.ErrorMessage</p>
}
