@page
@model IndexModel
@{
    ViewData["Title"] = "Авторизация";
}

<div class="text-center">
    <h2>Тренировочная система</h2>

    <form method="post" class="form-group">
        <div class="mb-3">
            <label for="login">Логин:</label>
            <input type="text" id="login" name="Login" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="Password" class="form-control" />
        </div>
        
        <button type="submit" class="btn btn-primary">Войти</button>

        <a asp-page="/AdminPage2" class="btn btn-success">Регистрация</a>

        <a asp-page="/Avtor" class="btn btn-success">Забыли пароль</a>

    
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
</div>
